<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CITY SERVE</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <nav>
    <!-- <img src="/images/camera.svg"> -->
    <a href="/" <%- title === 'CITY SERVE' ? 'class="active"' : '' %>>HOME</a> |
    <% if (user) { %>
      <a href="/outreaches" <%- title === 'Outreach Request' ? 'class="active"' : '' %>>OUTREACH REQUESTS</a> |
      <a href="/volunteers/new" <%- title === 'Volunteer Sign Up' ? 'class="active"' : '' %>>VOLUNTEER SIGN UP</a> |
      <a href="/outreaches/new" <%- title === 'Add New Request' ? 'class="active"' : '' %>>ADD NEW REQUEST</a> |
      <a href="/logout">LOG OUT</a>
    <% } else { %>
      <a href="/auth/google" class="login">LOG IN <img src="https://i.imgur.com/FHjYyi0.png"></a>
      <% } %>
  </nav>
 