<%- include('./partials/header') %>

<main>
<h1>Welcome to <%= title %></h1>
<P>Thank you for your interest in serving our community.  
   This program is 100% ran by volunteers. 
   Our mission is to organize and bring people together to help Outreach requests posted by 
   Churches, Food Banks, Shelters, and other Organazations who also serve the community.  
   You will find that volunteering has so many benefits including the opportunity to establish 
   new relationships within your City.
   Please Log In to learn more about how you can help.</P>
</main>

<%- include('./partials/footer') %>
