<%- include('./partials/header') %>

<main>
<h1>Welcome to <%= title %></h1>
<P>Thank you for your interest in serving our community.  
   
   Our mission is to connect memebers of our community with Non-Profit Organizations including 
   Churches, Food Banks, Shelters, and other Organazations who serve those in a crisis and help with many outreach needs. 
   At this time, we're currently serving Bay Area organazations located in the cities of Antioch, Berkeley, Concord, Oakland, Richmond. Please check back soon for added cities. 
   This program is 100% ran by volunteers. You will find that volunteering has so many benefits including the opportunity to establish 
   new relationships within your community. You will make a difference, learn new skills, gain confidence, and challenge yourself.   
   Every bit of effort big or small is absolutely necessary and appreciated.  
   Please Log In to learn more about how you can help.</P>
</main>

<%- include('./partials/footer') %>
