* {
  box-sizing: border-box;
  font-family: 'Lora', serif;
}

body {
  background-image: url('/images/Wallpaper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 5vmin;
  text-align: center;
  font-size: 3vmin;
}

body > nav {
  grid-area: nav;
  background-color: rgb(58, 107, 110);
  /* opacity: 0.5; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav > a {
  color: rgb(227, 206, 198);
}

nav > a:hover:not(.active) {
  color: white;
  background-color: rgb(84, 47, 66);
}

h1 {
    text-align: center;
    font-size: 12vmin;
    color: rgb(58, 107, 110);
    /* opacity: 0.5 */
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: rgb(84, 47, 66);
}

h2 {
  text-align: center;
  font-size: 5vmin;
  background-color: rgb(123, 153, 146);
  color: rgb(185, 147, 88);
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: rgb(84, 47, 66);
}

p {
  background-color:rgb(185, 147, 88);
  color: rgb(84, 47, 66);
}

#new-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
  color: rgb(185, 147, 88);
  background-color: rgb(84, 47, 66);
}



#new-form input[type="submit"] {
  grid-column: span 2;
  width: 10rem;
  margin-left: auto;
}

#list {
  border-radius: 4px;
  color: rgb(185, 147, 88);
  background-color: rgb(84, 47, 66);
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
 
}

#show-page {
  border-radius: 2px;
  background-color: rgb(123, 153, 146);
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  color: rgb(84, 47, 66);
}

#badge-container {
  border-radius: 2px;
  color: rgb(185, 147, 88);
  background-color: rgb(84, 47, 66);
  padding: 10px;
  text-decoration: none;
  font-size: 20px;

}

#comments-section {
  border-radius: 2px;
  background-color: rgb(123, 153, 146);
  color: rgb(84, 47, 66);
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
}

#add-volunteer-form input[type="submit"] {
  grid-column: span 2;
  width: 10rem;
  margin-left: auto;
  background-color: rgb(123, 153, 146);
  color: rgb(84, 47, 66);
}

#add-comment-form {
  border-radius: 2px;
  background-color: rgb(123, 153, 146);
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  color: rgb(84, 47, 66);
}



.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}