<%- include('../partials/header') %>


<h2>Please provide the following to add a new request:</h2>

<form id="new-form" action="/outreaches" method="POST">
  <label>Title:</label>
  <input type="text" name="title">
  <label>Description:</label>
  <input type="text" name="Description">
  <label>Location:</label>
  <select name="city">
    <option value="Antioch">Antioch,CA</option>
    <option value="Berkeley">Berkeley,CA</option>
    <option value="Concord">Concord,CA</option>
    <option value="Oakland">Oakland,CA</option>
    <option value="Richmond">Richmond,CA</option>
  </select>
  
  <label>Need to be completed by:
    <input type="date" name="completed">
  </label><br>
  <input type="submit" value="Add New Request">
</form>

<%- include('../partials/footer') %> 