<%- include('../partials/header') %>


<h2>Please fill in the form below to add a new request:</h2>

<form id="new-form" action="/outreaches" method="POST">
  <label>Title:</label>
  <input type="text" name="title">
  <label>Description:</label>
  <input type="text" name="description">
  <label>Location:</label>
  <select name="location">
    <option value="Antioch">Antioch,CA</option>
    <option value="Berkeley">Berkeley,CA</option>
    <option value="Concord">Concord,CA</option>
    <option value="Oakland">Oakland,CA</option>
    <option value="Richmond">Richmond,CA</option>
  </select>
  <label>When:</label>
  <input type="date" name="when">
  <input type="submit" value="Add Request">
</form>

<%- include('../partials/footer') %> 